<!DOCTYPE html>

<html lang="en-us" dir="ltr">
<head>
<title>Site administration | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" dashboard"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/my-page">Django</a></h1>

        </div>
        
        
      </div>
      <div id="user-tools">
        Welcome, <strong>{{ user.username }}</strong>.
        <a href="/password_change/">Change password</a> /
        {% if user.is_superuser %}
            <a href="/admin/">Super User HR /</a>
        {% endif %}
        <a href="{% url 'logout' %}">Log out</a>
    </div>
    <!-- END Header -->
    
    

    <div class="main shifted" id="main">

      <div class="content">
 <!-- Content -->
        <div id="content" class="colMS">
          
          <h1>Management Site</h1>
    
<div id="content-main">
  

  <div id="content">
    <style>
      .btn {
          font-size: 15px;
          padding: 10px 10px;
          border-radius: 5px;
          background-color: #196382;
          color: #f0eaea;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: bold;
      }
      </style>
      
      {% if request.user.is_superuser %}
      <div class="btn-group">
        <a href="{% url 'create_vm' %}" class="">Create VM |</a>
        <a href="{% url 'managevm' %}" class="">Manage VM |</a>
        <a href="{% url 'visuals' %}" class="">Visuals |</a>
        <a href="{% url 'launch_dashboard' %}" class="">Access Kubernetes Dashboard |</a>
        <a href="{% url 'detect-objects' %}" class="">Access Smart Security</a>
      </div>
    {% else %}
      <div class="btn-group">
        <a href="{% url 'create_vm' %}" class="">Create VM |</a>
        <a href="{% url 'managevm' %}" class="">Manage VM |</a>
      </div>
    {% endif %}
      
    <div class="container-fluid">

  
     
    <h2>Latest news about CNI:</h2>

  <iframe src="http://www.cni.tn/index.php/fr/?view=page&id=44" width="275%" height="1000"></iframe>

